<!-- app/views/categories/show.html.erb -->
<h1>Products in <%= @category.name %> Category</h1>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title"><%= product.product_name %></h5>
          <p class="card-text"><strong>Price:</strong> <%= product.product_price %></p>
          <%= link_to "View Details", product_path(product), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
